section.skills
  height: 230px
  color: black

  .skills-left
    width: 450px
    background: rgba(240, 62, 69,0.95)

  .skills-right
    width: 700px
    background: rgba(240, 62, 69,0.8)
    border-color: rgba(238,38,46,0.7)
